<ion-header>
  <ion-navbar>
    <ion-title text-center>Events</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page">
    <ion-searchbar
    placeholder="Search Events"
    [(ngModel)]="search"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
  <ion-list no-lines>
    <ion-list-header *ngIf="todayEvents.length" class="header-badge header-badge-today" color="light"></ion-list-header>
    <event-item *ngFor="let event of todayEvents" [data]="event"></event-item>
    
    <ion-list-header *ngIf="weekEvents.length" class="header-badge header-badge-week" color="light"></ion-list-header>
    <event-item *ngFor="let event of weekEvents" [data]="event"></event-item>
    
    <ion-list-header *ngIf="otherEvents.length" class="header-badge header-badge-other" color="light"></ion-list-header>
    <event-item *ngFor="let event of otherEvents" (seeDetails)="seeDetails(event)" [data]="event"></event-item>

    <ion-item text-center *ngIf="error">
      <ion-icon [ngStyle]="{'font-size': '24px'}" class="animated" name="beer"></ion-icon>
      Unfortunately no events found <span class="emot">:(</span>
    </ion-item>
  </ion-list>
</ion-content>