<ion-header>
  <ion-navbar>
    <ion-title text-center>Events</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page">
    <ion-searchbar
    placeholder="Search Events"
    [(ngModel)]="search"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
  <ion-list *ngIf="todayEvents.length">

    <ion-list-header class="header-badge header-badge-today" color="light"></ion-list-header>

    <event-item *ngFor="let event of todayEvents" [data]="event"></event-item>

  </ion-list>

  <ion-list *ngIf="weekEvents.length">

    <ion-list-header class="header-badge header-badge-week" color="light"></ion-list-header>

    <event-item *ngFor="let event of weekEvents" [data]="event"></event-item>

  </ion-list>

  <ion-list *ngIf="otherEvents.length">

      <ion-list-header class="header-badge header-badge-other" color="light"></ion-list-header>
  
      <event-item *ngFor="let event of otherEvents" [data]="event"></event-item>
  
    </ion-list>


</ion-content>